<style>
  .mb10{
    margin-bottom: 10px;
  }
  
  #edit{
    font-size: 0.6em;
    border: 1px solid #eeeeee;
    padding: 5px;
    border-radius: 5px;
  }
  h3{
    text-indent: 2em;
  }
  
</style>

<h1><%= gravatar_for @user %>
  <%= @user.name %>
<span id="edit" class="btn btn-default"><%= link_to "edit" , edit_user_path(@user) %></span>
</h1>


<h3>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
      
  <div class="row mb10">
    <div class="col-md-4">Name</div>
  <div class="col-md-8"><%= @user.name %></div>
  </div>
  
  <div class="row mb10">
    <div class="col-md-4">Area</div>
  <div class="col-md-8"><%= @user.area %></div>

  </div>
  
  <div class="row mb10">
    <div class="col-md-4">Job</div>
  <div class="col-md-8"><%= @user.job %></div>

  </div>
  
  <div class="row mb10">
    <div class="col-md-4">E-mail</div>
  <div class="col-md-8"><%= @user.email %></div>

  </div>
  
  <div class="row mb10">
    <div class="col-md-4">profile</div>
  <div class="col-md-8"><%= @user.profile %></div>
  </div>
  

  </div>
  </div>
  
  
</h3>